p, pre, blockquote, form{
  margin: 20rem 0;
}
pre{
  font-size: 14rem;
}
h1{
  font-size: 50rem;
}
h2{
  font-size: 40rem;
}
h3{
  font-size: 30rem;
}
h4{
  font-size: 25rem;
}
h5{
  font-size: 23rem;
}
h6{
  font-size: 19rem;
}

h11, h2, h3, h4{
  margin: 15rem 0;
}

p, article ul{
  font-size: 14rem;
  font-weight: 300;
  line-height: 25rem;
}

ul{
  list-style: none;
}

article ul{
  list-style: inside;
}